<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>Rikada - Powerful Residence Real Estate Template</title>
		
        <!-- All Plugins Css -->
        <link rel="stylesheet" href="assets/css/plugins.css">
		<link rel="stylesheet" href="assets/css/nav.css" />
		
		
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="green-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light">
				<nav class="headnavbar">
					<div class="nav-header">
						<a href="#" class="brand"><img src="assets/img/logo.png" alt="" /></a>
						<button class="toggle-bar"><span class="ti-align-justify"></span></button>	
					</div>								
					<ul class="menu">
					
						<li class="dropdown">
							<a href="JavaScript:Void(0);">Home</a>
							<ul class="dropdown-menu">
								<li><a href="index.html">Home Layout 1</a></li>
								<li><a href="home-2.html">Home Layout 2</a></li>
								<li><a href="home-3.html">Home Layout 3</a></li>
								<li><a href="home-4.html">Home Layout 4</a></li>
								<li><a href="home-5.html">Home Layout 5</a></li>
								<li><a href="home-6.html">Home Layout 6</a></li>
								<li><a href="home-7.html">Home Layout 7</a></li>
								<li><a href="home-8.html">Home Layout 8</a></li>
								<li><a href="map.html">Map Home Layout</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="JavaScript:Void(0);">Listings</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="JavaScript:Void(0);">List Layouts</a>
									<ul class="dropdown-menu">
										<li><a href="list-layout-with-sidebar.html">With Sadebar</a></li>                                    
										<li><a href="list-layout-with-map.html">With Map</a></li>                                    
										<li><a href="list-layout-full.html">Full Width</a></li>                                     
									</ul>                                 
								</li>
								<li class="dropdown">
									<a href="JavaScript:Void(0);">Grid Layouts</a>
									<ul class="dropdown-menu">
										<li><a href="grid-layout-with-sidebar.html">With Sidebar</a></li>                                    
										<li><a href="classical-layout-with-sidebar.html">Classical With Sidebar</a></li>                                    
										<li><a href="grid-layout-with-map.html">With Map</a></li>                                    
										<li><a href="grid.html">Full Width</a></li>
										<li><a href="classical-property.html">Classical Full Width</a></li>										
									</ul>                                 
								</li>
								<li class="dropdown">
									<a href="JavaScript:Void(0);">With Map Layouts</a>
									<ul class="dropdown-menu">
										<li><a href="list-layout-with-map.html">List With Map</a></li>                                    
										<li><a href="grid-layout-with-map.html">Grid With Map</a></li>                                    
										<li><a href="classical-layout-with-map.html">Classical With Map</a></li>                                    
										<li><a href="half-map.html">Half Map Search</a></li>   
									</ul>                                 
								</li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="JavaScript:Void(0);">Features</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="JavaScript:Void(0);">Single Property</a>
									<ul class="dropdown-menu">
										<li><a href="single-property-1.html">Single Property 1</a></li>                                    
										<li><a href="single-property-2.html">Single Property 2</a></li>                                    
										<li><a href="single-property-3.html">Single Property 3</a></li>                                       
									</ul>                                 
								</li>
								<li class="dropdown">
									<a href="JavaScript:Void(0);">Agencies & Agents</a>
									<ul class="dropdown-menu">
										<li><a href="agents.html">Agents List</a></li>                                    
										<li><a href="agent-page.html">Agent Page</a></li>                                    
										<li><a href="agencies.html">Agencies List</a></li>                                    
										<li><a href="agency-page.html">Agency Page</a></li>   
									</ul>                                
								</li>
								<li class="dropdown">
									<a href="JavaScript:Void(0);">My Account</a>
									<ul class="dropdown-menu">
										<li><a href="my-profile.html">My Profile</a></li>                                    
										<li><a href="my-property.html">Property List</a></li>                                    
										<li><a href="bookmark-list.html">Bookmarked Listings</a></li>                                    
										<li><a href="change-password.html">Change Password</a></li>   
									</ul>                                 
								</li>
								<li>
									<a href="compare-property.html">Compare Property</a>                                
								</li>
								<li>
									<a href="submit-property.html">Submit Property</a>                                
								</li>
							</ul>
						</li>
						
						<li class="megamenu" data-width="500">
							<a class="active" href="#">Pages</a>
							<div class="megamenu-content">
								<div class="mg-menu">
									<ul>
										<li>
											<a href="blog.html">
												<div class="mg-menu-items">
													<i class="ti-layout-grid2"></i>
													<h5>Blog Page<span>Checkout Our Articles</span></h5>
												</div>
											</a>
										</li>
										
										<li>
											<a href="blog-detail.html">
												<div class="mg-menu-items">
													<i class="ti-layout"></i>
													<h5>Blog Detail<span>Detail Blog Page Design</span></h5>
												</div>
											</a>
										</li>
										
										<li>
											<a href="pricing.html">
												<div class="mg-menu-items">
													<i class="ti-credit-card"></i>
													<h5>Pricing Page<span>Our Latest Offers & Package</span></h5>
												</div>
											</a>
										</li>
										
										<li>
											<a href="contact.html">
												<div class="mg-menu-items">
													<i class="ti-location-pin"></i>
													<h5>Contact Us<span>Need Help? Get In Touch</span></h5>
												</div>
											</a>
										</li>
										
										<li>
											<a href="component.html">
												<div class="mg-menu-items">
													<i class="ti-ruler-pencil"></i>
													<h5>Component<span>List of All Components</span></h5>
												</div>
											</a>
										</li>
										
										<li>
											<a href="404.html">
												<div class="mg-menu-items">
													<i class="ti-face-sad"></i>
													<h5>Error Page<span>Error Page Design</span></h5>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						
						<li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
					</ul>
						
					<ul class="attributes">
						<li class="login-attri theme-log"><a href="#" data-toggle="modal" data-target="#login">Log In</a></li>
					</ul>
					
				</nav>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title">Components</h2>
							<span class="ipn-subtitle">Lists of all used components</span>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Agency List Start ================================== -->
			<section>
			
				<div class="container">
				
					<!-- row Start -->
					<div class="row">
					
						<div class="col-lg-6 col-md-12 col-sm-12">
							<h4>Tabs Examples</h4>
							<div class="custom-tab style-1">
								<ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
									<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
									<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 col-sm-12">
							<h4>Accordion Examples</h4>
							<div id="accordion" class="accordion">
								<div class="card mb-0">
									<a class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
										<h5 class="card-title">How You Manage it</h5>
									</a>
									<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
											aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
											craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</p>
									</div>
									<a class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										<h5 class="card-title">How You Manage it</h5>
									</a>
									<div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
											aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
											craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</p>
									</div>
									<a class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										<h5 class="card-title">How You Manage it</h5>
									</a>
									<div id="collapseThree" class="collapse" data-parent="#accordion" >
										<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
											aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<!-- /row -->

					<!-- row Start -->
					<div class="row mt-4">
					
						<div class="col-lg-6 col-md-12 col-sm-12">
							<h4>Typography</h4>
							 <h1>Heading One</h1>
                            <h2>Heading Two</h2>
                            <h3>Heading Three</h3>
                            <h4>Heading Four</h4>
                            <h5>Heading Five</h5>
                            <h6>Heading Six</h6>
						</div>
						
						<div class="col-lg-6 col-md-12 col-sm-12">
							<h4>Buttons</h4>
							<button type="submit" class="btn btn-theme">Simple button</button></br>
							<button type="submit" class="btn btn-theme btn-rounded">Simple button</button>
							<button type="submit" class="btn btn-theme btn-md">Midium Button</button></br>
							<button type="submit" class="btn btn-theme btn-lg">Large Button</button>
							<button type="submit" class="btn btn-outline-theme">Outline Button</button></br></br>
							<a href="#" class="btn btn-theme">Simple button</a></br>
							<a href="#" class="btn btn-theme-2">Simple button</a>
						</div>
						
					</div>
					<!-- /row -->	

					<!-- row Start -->
					<div class="row mt-4">
					
						<div class="col-lg-6 col-md-12 col-sm-12">
							<h4>Shadow & Simple Inputbox</h4>
							
							<div class="form-group">
								<div class="input-with-icon">
									<input type="text" class="form-control" placeholder="Neighborhood">
									<i class="ti-search"></i>
								</div>
							</div>
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control simple">
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 col-sm-12">
							<h4>Checkbox & Radio buttons</h4>
							<ul class="no-ul-list">
								<li>
									<input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
									<label for="a-1" class="checkbox-custom-label">Air Condition</label>
								</li>
								<li>
									<input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
									<label for="a-2" class="checkbox-custom-label">Bedding</label>
								</li>
								
							</ul>
							
							<ul class="no-ul-list">
								<li>
									<input id="a-p" class="checkbox-custom" name="a-p" type="radio">
									<label for="a-p" class="checkbox-custom-label">Air Condition</label>
								</li>
								<li>
									<input id="a-c" class="checkbox-custom" name="a-c" type="radio">
									<label for="a-c" class="checkbox-custom-label">Bedding</label>
								</li>
								
							</ul>
						</div>
						
					</div>
					<!-- /row -->					
					
				</div>
						
			</section>
			<!-- ============================ Agency List End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">About Workio</h4>
									<p>Themez Hub is a team of young professionals that has been successfully creating Creative Website templates already for several years.</p>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="ti-android"></i>
											</div>
											<div class="os-app-caps">
												Google Store
											</div>
										</div>
									</a>
								</div>
							</div>		
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="faq.html">FAQs Page</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="about-us.html">About Us</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">Get in Touch</h4>
									<div class="fw-address-wrap">
										<div class="fw fw-location">
											7744 North Park, New York
										</div>
										<div class="fw fw-mail">
											support@drizvato77.com
										</div>
										<div class="fw fw-call">
											+91 254 584 7584
										</div>
										<div class="fw fw-skype">
											drizvato77
										</div>
										<div class="fw fw-web">
											www.Themez Hub.com
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">Follow Us</h4>
									<p>Follow & Subscribe your email to get new business tips.</p>
									<ul class="footer-bottom-social">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
									</ul>
									
									<form class="f-newsletter mt-4">
										<input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
										<button type="submit" class="btn"><i class="ti-arrow-right"></i></button>
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2019 Rikada. Designd By <a href="https://themezhub.com">Themez Hub</a> All Rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-icon">
											<input type="text" class="form-control" placeholder="Username">
											<i class="ti-user"></i>
										</div>
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<div class="input-with-icon">
											<input type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-twitter"><i class="ti-twitter"></i>Twitter</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><a href="#" class="link">Forgot password?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>
									
									<div class="row">
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Full Name">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="email" class="form-control" placeholder="Email">
													<i class="ti-email"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Username">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="*******">
													<i class="ti-unlock"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="123 546 5847">
													<i class="lni-phone-handset"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<select class="form-control">
														<option>As a Customer</option>
														<option>As a Agent</option>
														<option>As a Agency</option>
													</select>
													<i class="ti-briefcase"></i>
												</div>
											</div>
										</div>
										
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Sign Up</button>
									</div>
								
								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-twitter"><i class="ti-twitter"></i>Twitter</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/rangeslider.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/aos.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/slider-bg.js"></script>
		<script src="assets/js/lightbox.js"></script> 
		<script src="assets/js/imagesloaded.js"></script>
		<script src="assets/js/isotope.min.js"></script>
		<script src="assets/js/coreNavigation.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>